<html>
    <head>
        <!--  Stylesheets   -->
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="/dist/vendor.min.js"></script>
        <script src="/dist/app.min.js"></script>
    </head>
    <body ng-app="SocialMediaApp" ng-strict-di>
        <div class="container" ng-controller="MainController">
            <h4 class="text-right">
                {{main.currentUser.firstName}} {{main.currentUser.lastName}}
                <img ng-src="{{main.currentUser.imageUrl}}" width="25" height="25">
            </h3>
            <h1 class="text-center"><span><i class="glyphicon glyphicon-user"></i></span> The Social Network</h1>
            <hr/>
            <div class="col-lg-offset-0 col-lg-2 col-sm-offset-0 col-sm-3 col-xs-offset-1 col-xs-11" ui-view="SideMenu"></div>
            <div class="col-lg-10 col-sm-9 col-xs-12 main-view" ui-view="MainView"></div>
        </div>
    </body>
</html>