body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.main-view {
  border-left: 1px dashed #d3d3d3;
  height: 100%;
}
.side-menu ul {
  list-style-type: none;
  text-alight: right;
}
.side-menu ul li {
  padding: 8px;
  margin: 5px;
}
.side-menu ul li a {
  text-decoration: none;
}
.user-status-widget textarea {
  width: 100%;
  min-height: 60px;
  resize: none;
}
.news-feed-item {
  border: #a9a9a9 solid 1px;
  padding: 10px;
  margin: 10px;
}
