body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.main-view
    border-left: 1px dashed lightgray
    height: 100%

.side-menu ul
    list-style-type: none
    text-alight: right
    
.side-menu ul li
    padding: 8px
    margin: 5px
    
.side-menu ul li a
    text-decoration: none

.user-status-widget textarea
    width: 100%
    min-height: 60px
    resize: none
    
.news-feed-item
    border: darkgray solid 1px
    padding: 10px
    box-shadow: 3px 3px 3px lightgray