<div class="news-feed">
    <user-status-widget></user-status-widget>
    <hr/>
    <div class="news-feed-actions">
        <button class="btn" ng-click="newsFeed.getNewsFeedItems()">
            <span><i class="glyphicon glyphicon-refresh"></i></span></button>
    </div>
    <br>
    <div ng-repeat="item in newsFeed.items | orderBy:'createDT' track by $index">
        <news-feed-item 
            class="col-lg-12"
            ng-model="item">
        </news-feed-item>
        <div class="clearfix"></div>
        <br>
    </div>
</div>