<div class="user-status-widget">
    <div class="row">
        <div class="col-lg-12">
            <h4>What's on your mind?</h4>
            <form name="userStatusWidgetForm">
                <div class="hidden" ng-init="userStatusWidget.setForm(userStatusWidgetForm)"></div>
                <textarea ng-required="userStatusWidget.statusText == null || userStatusWidget.statusText.length === 0"
                          ng-model="userStatusWidget.statusText"
                          placeholder="Get it all out!">
                </textarea>
                <div class="clearfix"></div>
                <br>
                <div class="btn-toolbar pull-right">
                    <button type="button" 
                            class="btn btn-default"
                            ng-click="userStatusWidget.clear()"
                            ng-disabled="userStatusWidget.form.$invalid">Clear</button>
                    <button type="submit"
                            class="btn btn-primary"
                            ng-click="userStatusWidget.submit()"
                            ng-disabled="userStatusWidget.form.$invalid">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>